<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seu.talents.cloud.talent.model.dao.mapper.JobFairMapper">
    <select id="getAll" resultType="seu.talents.cloud.talent.model.dao.entity.JobFair">
        SELECT jobFairId, jobFairName, detailLink, city, address, type, startTime, endTime, publishRange, source
        FROM job_fair
        WHERE deleted = 0
    </select>

    <insert id="add" parameterType="seu.talents.cloud.talent.model.dao.entity.JobFair">
        INSERT INTO job_fair (
            jobFairId,
            jobFairName,
            city,
            address,
            type,
            startTime,
            endTime,
            publishRange,
            detailLink,
            source
        ) VALUES (
            #{jobFairId, jdbcType=BIGINT},
            #{jobFairName, jdbcType=VARCHAR},
            #{city, jdbcType=VARCHAR},
            #{address, jdbcType=VARCHAR},
            #{type, jdbcType=VARCHAR},
            #{startTime, jdbcType=TIMESTAMP},
            #{endTime, jdbcType=TIMESTAMP},
            #{publishRange, jdbcType=VARCHAR},
            #{detailLink, jdbcType=VARCHAR},
            #{source, jdbcType=VARCHAR}
        )
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        UPDATE job_fair
        SET deleted = 1
        WHERE jobFairId = #{jobFairId, jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="seu.talents.cloud.talent.model.dao.entity.JobFair">
        UPDATE  job_fair
        SET
            jobFairName = #{jobFairName, jdbcType=VARCHAR},
            city = #{city, jdbcType=VARCHAR},
            address = #{address, jdbcType=VARCHAR},
            startTime = #{startTime, jdbcType=TIMESTAMP},
            endTime = #{endTime, jdbcType=TIMESTAMP},
            publishRange = #{publishRange, jdbcType=VARCHAR},
            detailLink = #{detailLink, jdbcType=VARCHAR},
            source = #{source, jdbcType=VARCHAR}
        WHERE jobFairId = #{jobFairId, jdbcType=BIGINT}
    </update>

    <select id="searchJobFair" resultType="seu.talents.cloud.talent.model.dao.entity.JobFair">
        SELECT jobFairName, detailLink, city, address, type, CONCAT(CONCAT(DATE_FORMAT(startTime, '%Y-%m-%d %H:%i'), ' - '), DATE_FORMAT(endTime, '%Y-%m-%d %H:%i')) AS time, source
        FROM job_fair
        WHERE deleted = 0
        <if test="keyWord != null">
            AND (
            jobFairName LIKE CONCAT(CONCAT('%', #{keyWord}), '%')
            )
        </if>
        <if test="range != null">
            AND publishRange = #{range}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="city != null">
            AND city LIKE CONCAT(CONCAT('%', #{city}), '%')
        </if>
        <if test="time != null">
            <if test='time == "近一周"'>
                AND DATE_ADD(CURDATE(), INTERVAL 7 DAY) &gt;= DATE(startTime) AND DATE(startTime) &gt;= CURDATE()
            </if>
            <if test='time == "近一个月"'>
                AND DATE_SUB(CURDATE(), INTERVAL 23 DAY) &lt;= DATE(startTime) AND DATE(startTime) &lt;= DATE_ADD(CURDATE(), INTERVAL 7 DAY)
            </if>
            <if test='time == "近一年"'>
                AND DATE_SUB(CURDATE(), INTERVAL 358 DAY) &lt;= DATE(startTime) AND DATE() &lt;= DATE_ADD(CURDATE(), INTERVAL 7 DAY)
            </if>
        </if>
    </select>

</mapper>