<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seu.talents.cloud.talent.model.dao.mapper.LectureMapper">
    <select id="getAll" resultType="seu.talents.cloud.talent.model.dao.entity.Lecture">
        SELECT lectureId, lectureName, detailLink, city, school, address, startTime, endTime, source
        FROM lecture
        WHERE deleted = 0
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM lecture WHERE deleted = 0
    </select>

    <insert id="add" parameterType="seu.talents.cloud.talent.model.dao.entity.Lecture">
        INSERT INTO lecture (
            lectureId,
            lectureName,
            detailLink,
            city,
            school,
            address,
            startTime,
            endTime,
            source
        ) VALUES (
            #{lectureId, jdbcType=BIGINT},
            #{lectureName, jdbcType=VARCHAR},
            #{detailLink, jdbcType=VARCHAR},
            #{city, jdbcType=VARCHAR},
            #{school, jdbcType=VARCHAR},
            #{address, jdbcType=VARCHAR},
            #{startTime, jdbcType=TIMESTAMP},
            #{endTime, jdbcType=TIMESTAMP},
            #{source, jdbcType=VARCHAR}
        )
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        UPDATE lecture
        SET deleted = 1
        WHERE lectureId = #{lectrueId, jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="seu.talents.cloud.talent.model.dao.entity.Lecture">
        UPDATE lecture
        SET
            lectureName = #{lectureName, jdbcType=VARCHAR},
            detailLink = #{detailLink, jdbcType=VARCHAR},
            city = #{city, jdbcType=VARCHAR},
            school = #{school, jdbcType=VARCHAR},
            address = #{address, jdbcType=VARCHAR},
            startTime = #{startTime, jdbcType=TIMESTAMP},
            endTime = #{endTime, jdbcType=TIMESTAMP},
            source = #{source, jdbcType=VARCHAR}
        WHERE lectureId = #{lectureId, jdbcType=BIGINT}
    </update>


    <select id="searchLecture" resultType="seu.talents.cloud.talent.model.dao.entity.Lecture">
        SELECT lectureName, detailLink, city, school, address, CONCAT(CONCAT(DATE_FORMAT(startTime, '%Y-%m-%d %H:%i'), ' - '), DATE_FORMAT(endTime, '%Y-%m-%d %H:%i')) AS time, source
        FROM lecture
        WHERE deleted = 0
        <if test="keyWord != null">
            AND lectureName LIKE CONCAT(CONCAT('%', #{keyWord}), '%')
        </if>
        <if test="time != null">
            <if test='time != "1"'>
                <if test='time == "7"'>
                    AND DATE_ADD(CURDATE(), INTERVAL 7 DAY) &gt;= DATE(startTime) AND DATE(startTime) &gt;= CURDATE()
                </if>
                <if test='time == "30"'>
                    AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(startTime) AND DATE(startTime) &lt;= DATE_ADD(CURDATE(), INTERVAL 23 DAY)
                </if>
                <if test='time == "365"'>
                    AND DATE_SUB(CURDATE(), INTERVAL 305 DAY) &lt;= DATE(startTime) AND DATE(startTime) &lt;=DATE_ADD(CURDATE(), INTERVAL 60 DAY)
                </if>
            </if>
        </if>
    </select>

</mapper>
