<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seu.talents.cloud.talent.model.dao.mapper.RecruitmentMapper">
    <select id="getAll" resultType="seu.talents.cloud.talent.model.dao.entity.Recruitment">
        SELECT recruitmentId, recruitmentName, detailLink, city, time, publishRange, source
        FROM recruitment
        WHERE deleted = 0
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM recruitment WHERE deleted = 0
    </select>

    <insert id="add" parameterType="seu.talents.cloud.talent.model.dao.entity.Recruitment">
        INSERT INTO recruitment (
            recruitmentId,
            recruitmentName,
            detailLink,
            city,
            publishRange,
            source
        ) VALUES (
            #{recruitmentId, jdbcType=BIGINT},
            #{recruitmentName, jdbcType=VARCHAR},
            #{detailLink, jdbcType=VARCHAR},
            #{city, jdbcType=VARCHAR},
            #{publishRange, jdbcType=VARCHAR},
            #{source, jdbcType=VARCHAR}
        )
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        UPDATE recruitment
        SET deleted = 1
        WHERE recruitmentId = #{recruitmentId, jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="seu.talents.cloud.talent.model.dao.entity.Recruitment">
        UPDATE recruitment
        SET
            recruitmentName = #{recruitmentName, jdbcType=VARCHAR},
            detailLink = #{detailLink, jdbcType=VARCHAR},
            city = #{city, jdbcType=VARCHAR},
            publishRange = #{publishRange, jdbcType=VARCHAR},
            source = #{source, jdbcType=VARCHAR}
        WHERE recruitmentId = #{recruitmentId, jdbcType=BIGINT}
    </update>


    <select id="searchRecruitment" resultType="seu.talents.cloud.talent.model.dao.entity.Recruitment">
        SELECT recruitmentName, detailLink, city, time, source
        FROM recruitment
        WHERE deleted = 0
        <if test="keyWord != null">
            AND recruitmentName LIKE CONCAT(CONCAT('%', #{keyWord}), '%')
        </if>
        <if test="range != null">
          <if test='range != "0"'>
              AND publishRange = #{range}
          </if>
        </if>
        <if test="city != null">
            AND city LIKE CONCAT(CONCAT('%', #{city}), '%')
        </if>
        <if test="time != null">
            <if test='time != "1"'>
                <if test='time == "7"'>
                    AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(time)
                </if>
                <if test='time == "30"'>
                    AND DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= DATE(time)
                </if>
                <if test='time == "365"'>
                    AND DATE_SUB(CURDATE(), INTERVAL 365 DAY) &lt;= DATE(time)
                </if>
            </if>
        </if>
    </select>

</mapper>
