<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seu.talents.cloud.talent.model.dao.mapper.SelectedGraduatesOrInternationalOrganizationMapper">
    <select id="getAll" resultType="seu.talents.cloud.talent.model.dao.entity.SelectedGraduatesOrInternationalOrganization">
        SELECT id, name, detailLink, time, type
        FROM selected_graduates_and_international_organization
        WHERE deleted = 0 AND type = #{type}
    </select>

    <insert id="add" parameterType="seu.talents.cloud.talent.model.dao.entity.SelectedGraduatesOrInternationalOrganization">
        INSERT INTO selected_graduates_and_international_organization (
            id,
            name,
            detailLink,
            type
        ) VALUES (
            #{id, jdbcType=BIGINT},
            #{name, jdbcType=VARCHAR},
            #{detailLink, jdbcType=VARCHAR},
            #{type, jdbcType=TINYINT}
        )
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        UPDATE selected_graduates_and_international_organization
        SET deleted = 1
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="seu.talents.cloud.talent.model.dao.entity.SelectedGraduatesOrInternationalOrganization">
        UPDATE selected_graduates_and_international_organization
        SET
            name = #{name, jdbcType=VARCHAR},
            detailLink = #{detailLink, jdbcType=VARCHAR}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <select id="search" resultType="seu.talents.cloud.talent.model.dao.entity.SelectedGraduatesOrInternationalOrganization">
        SELECT name, detailLink, time
        FROM selected_graduates_and_international_organization
        WHERE deleted = 0 AND type = #{type}
        <if test="keyWord != null">
            AND name LIKE CONCAT(CONCAT('%', #{keyWord}), '%')
        </if>
    </select>

</mapper>
